In [2]:
import pandas as pd
from sklearn.datasets import load_diabetes

# Colinearity

Colinearity is the state of having more than one independent variable in a regression model that are highly correlated, which breaks the assumptions of the linear regression model that the independent variables are not correlated with each other.

## Why is this a problem?

If two variables are perfectly correlated, then the OLS estimator equation cannot be solved at all because $X^TX$ is not invertible.

In practice, this means that the problem cannot distinguish between the effect of the two variables, and the results are unstable.

## How to detect multicolinearity?

1. Check that variables are not added twice.
1. Check for redundant variables. 
1. Use a different estimation method (Ridge, Lasso)
1. Combine the features into a set of linearly separable features such as principal components analysis (PCA).

Notice that you shouldn't remove variables because they are not significant in a model that has multicolinearity, they may be the ones that have predictive power.

In [3]:
def sklearn_to_df(sklearn_data):
    df = pd.DataFrame(sklearn_data.data, columns=sklearn_data.feature_names)
    df["target"] = sklearn_data.target
    return df

In [4]:
data = load_diabetes()
df = sklearn_to_df(data)
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0

In [10]:
C = df.corr().round(2)

In [13]:

def colour_large_values_red(val):
    """Colour cells based on their value - a useful pattern for reports!"""
    color = 'red' if abs(val) >= 0.9 else 'lightgrey'
    return 'background-color: %s' % color

In [14]:
C.style.applymap(colour_large_values_red)

/var/folders/73/rq8rmtq52tb86nmnr0ysb4ch0000gn/T/ipykernel_84365/3924752093.py:1: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  C.style.applymap(colour_large_values_red)

As we can see, s1 and s2 are highly correlated with each other.

In [18]:
import statsmodels.formula.api as smf

columns1 = "+".join(df.columns.difference(["target"]))
formula1 = "target ~" + columns1
all_model = smf.ols(formula=formula1, data=df).fit()
print(all_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       0.518
Model:                            OLS   Adj. R-squared:                  0.507
Method:                 Least Squares   F-statistic:                     46.27
Date:                Mon, 21 Oct 2024   Prob (F-statistic):           3.83e-62
Time:                        11:23:04   Log-Likelihood:                -2386.0
No. Observations:                 442   AIC:                             4794.
Df Residuals:                     431   BIC:                             4839.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    152.1335      2.576     59.061      0.000     147.071     157.196
age          -10.0099     59.749     -0.168      0.867    -127.446     107.426
bmi          519.8459     66.533      7.813      0.000     389.076     650.616
bp           324.3846     65.422      4.958      0.000     195.799     452.970
s1          -792.1756    416.680     -1.901      0.058   -1611.153      26.802
s2           476.7390    339.030      1.406      0.160    -189.620    1143.098
s3           101.0433    212.531      0.475      0.635    -316.684     518.770
s4           177.0632    161.476      1.097      0.273    -140.315     494.441
s5           751.2737    171.900      4.370      0.000     413.407    1089.140
s6            67.6267     65.984      1.025      0.306     -62.064     197.318
sex         -239.8156     61.222     -3.917      0.000    -360.147    -119.484
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   2.029
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         227.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [16]:
columns2 = "+".join(df.columns.difference(["target"]))
formula2 = "target ~" + columns2 + "-s1"
model2 = smf.ols(formula=formula2, data=df).fit()
print(model2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       0.514
Model:                            OLS   Adj. R-squared:                  0.504
Method:                 Least Squares   F-statistic:                     50.71
Date:                Mon, 21 Oct 2024   Prob (F-statistic):           3.06e-62
Time:                        11:22:50   Log-Likelihood:                -2387.8
No. Observations:                 442   AIC:                             4796.
Df Residuals:                     432   BIC:                             4837.
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    152.1335      2.584     58.883      0.000     147.055     157.212
age           -7.9150     59.920     -0.132      0.895    -125.685     109.855
bmi          528.5315     66.577      7.939      0.000     397.676     659.387
bp           319.7634     65.574      4.876      0.000     190.879     448.648
s2          -143.2818     92.922     -1.542      0.124    -325.918      39.354
s3          -250.5971    105.002     -2.387      0.017    -456.976     -44.219
s4            70.4496    151.883      0.464      0.643    -228.072     368.971
s5           461.8393     80.068      5.768      0.000     304.468     619.211
s6            69.1270     66.179      1.045      0.297     -60.946     199.200
sex         -234.1555     61.335     -3.818      0.000    -354.707    -113.604
==============================================================================
Omnibus:                        1.853   Durbin-Watson:                   2.014
Prob(Omnibus):                  0.396   Jarque-Bera (JB):                1.680
Skew:                           0.044   Prob(JB):                        0.432
Kurtosis:                       2.711   Cond. No.                         75.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [17]:
columns3 = "+".join(df.columns.difference(["target"]))
formula3 = "target ~" + columns3 + "-s2"
model3 = smf.ols(formula=formula3, data=df).fit()
print(model3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       0.516
Model:                            OLS   Adj. R-squared:                  0.505
Method:                 Least Squares   F-statistic:                     51.08
Date:                Mon, 21 Oct 2024   Prob (F-statistic):           1.37e-62
Time:                        11:22:56   Log-Likelihood:                -2387.0
No. Observations:                 442   AIC:                             4794.
Df Residuals:                     432   BIC:                             4835.
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    152.1335      2.579     58.995      0.000     147.065     157.202
age           -6.5077     59.765     -0.109      0.913    -123.974     110.958
bmi          528.6222     66.315      7.971      0.000     398.282     658.962
bp           322.2401     65.478      4.921      0.000     193.545     450.936
s1          -228.5471    113.989     -2.005      0.046    -452.590      -4.505
s3          -125.3607    138.889     -0.903      0.367    -398.343     147.622
s4           146.1468    160.153      0.913      0.362    -168.629     460.923
s5           536.1009     78.413      6.837      0.000     381.982     690.220
s6            69.1121     66.050      1.046      0.296     -60.708     198.932
sex         -236.1741     61.237     -3.857      0.000    -356.533    -115.815
==============================================================================
Omnibus:                        1.653   Durbin-Watson:                   2.021
Prob(Omnibus):                  0.438   Jarque-Bera (JB):                1.535
Skew:                           0.041   Prob(JB):                        0.464
Kurtosis:                       2.723   Cond. No.                         88.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

As we can see, eliminating s1 or s2 does not change the R-squared of the model much, which means that they are not adding predictive power to the model when used together.

More over, as seen in experiments 2 and 3, s2 seems to not be significant. s1 is significant when alone. When together, s2 is not significant.

## Multicolinearity

If we reduce the threshold for colinearity, we can find more pairs of variables that are highly correlated with each other.

In [20]:
def colour_medium_values_red(val):
    color = 'red' if abs(val) > 0.7 else 'lightgrey'
    return 'background-color: %s' % color
C.style.applymap(colour_medium_values_red)

/var/folders/73/rq8rmtq52tb86nmnr0ysb4ch0000gn/T/ipykernel_84365/3688190286.py:4: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  C.style.applymap(colour_medium_values_red)

In [25]:
formula = "target ~ s1 + s2 + s3 + s4 + s5 + s6 + age + bmi + sex + bp"
est = smf.ols(formula=formula, data=df).fit()
print(est.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       0.518
Model:                            OLS   Adj. R-squared:                  0.507
Method:                 Least Squares   F-statistic:                     46.27
Date:                Mon, 21 Oct 2024   Prob (F-statistic):           3.83e-62
Time:                        11:36:02   Log-Likelihood:                -2386.0
No. Observations:                 442   AIC:                             4794.
Df Residuals:                     431   BIC:                             4839.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    152.1335      2.576     59.061      0.000     147.071     157.196
s1          -792.1756    416.680     -1.901      0.058   -1611.153      26.802
s2           476.7390    339.030      1.406      0.160    -189.620    1143.098
s3           101.0433    212.531      0.475      0.635    -316.684     518.770
s4           177.0632    161.476      1.097      0.273    -140.315     494.441
s5           751.2737    171.900      4.370      0.000     413.407    1089.140
s6            67.6267     65.984      1.025      0.306     -62.064     197.318
age          -10.0099     59.749     -0.168      0.867    -127.446     107.426
bmi          519.8459     66.533      7.813      0.000     389.076     650.616
sex         -239.8156     61.222     -3.917      0.000    -360.147    -119.484
bp           324.3846     65.422      4.958      0.000     195.799     452.970
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   2.029
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         227.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [26]:
est.condition_number

np.float64(227.2248048548479)

Another way to see if multicolinearity is a problem is to check the condition number of the design matrix. If it is greater than 30, then there is a problem.

Also, if the overall R-squared is high, but the individual variables are not significant, then there is a chance that multicolinearity is present. This is also evident by wide confidence intervals. This means that each invidifual variable does not have a significant effect on the target variable, but together they do.

## Gauss-Markov Theorem

The Gauss-Markov theorem states that in a linear regression model where the errors have the properties of being homoscedastic and uncorrelated with mean zero, the best linear unbiased estimator (BLUE) is given by the OLS estimator.

If multicolinearity is present, then the coefficients will be unstable and the R-squared will be high, but the individual variables will not be significant. The OLS estimator will still be unbiased, but not efficient.

In consequence, the estimates will be inefficient but useful as an overall estimator.